.profile {
    display: flex;
    justify-content: space-between;
}

.profileSection {
    margin: 0, 10px;
    width: 47%;
}

.inputTimeButton {
    background-color: #2F3061;
    width: 100%;
    padding: 1px;
}